body {
  margin: 0 0 0 0;
}

table {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: monospace;
}

.bottom-half {
  background-color: #1F9481;
  color: white;
}

.company-name {
  font-size: 300%;
}

.linked-in-link {
  margin-top: 5px;
}

.linked-in-link span {
  position: relative;
  top: -15;
  font-family: sans-serif;
  margin-right: 10px;
}

#fadeText1 {
  display: block;
  font-size: 300%;
  position: relative;
  top: 22;
}

#fadeText2 {
  display: block;
  font-size: 300%;
  position: relative;
  top: -22;
}
